.card {
  transition: all .4s ease; /* zoom in */
  margin: 2rem;
  background: white;
  border-radius: 8px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  cursor: pointer;
  padding: 1rem 1rem;
}
.card-product {
  margin-bottom: 1rem;
  overflow: hidden;
}


.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

