.tstack {
  display: flex;
  flex-wrap: wrap;
}

.techheaders {
  color: rgb(245, 221, 102);
  padding: 0 1rem;
  margin: 0 1rem;
}

.techheaders:before {
    content: "";
    display: block;
    height: 1.5rem;
    background-color: #0e2e3b;
    margin-bottom: -2.8rem;
}
